<table>
	<tbody>
		<tr>
			<td><strong>posX:</strong></td>
			<td>{{posX}}</td>
		</tr>
		<tr>
			<td><strong>posY:</strong></td>
			<td>{{posY}}</td>
		</tr>
		<tr>
			<td><strong>maxX:</strong></td>
			<td>{{maxX}}</td>
		</tr>
		<tr>
			<td><strong>maxY:</strong></td>
			<td>{{maxY}}</td>
		</tr>
	</tbody>
</table>